h1 {
    font-family: serif; font-size: 36pt 
}

h2 {
    font-family: serif; font-size: 24pt 
}

h3 {
    font-family: serif; font-size: 18pt 
}

h4 {
    font-family: serif; font-size: 16pt 
}

h5 {
    font-family: serif; font-size: 14pt 
}

h6 {
    font-family: serif; font-size: 12pt 
}

p {
    font-family: serif; font-size: 10pt 
}