h1 {
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18pt;
    color: #0000ff; 
  }

body {
    background-color: #f0e68c;
}